extends layout

block content   
  script.
    $(document).ready(function(){
      var versions = {};
      var sum = 0, ctable;
      var colors = (new ColorScheme).from_hue(200).scheme("tetrade").distance(0.7).variation('pale').colors();

      $.ajax( "/ext/connections" ).done(function(json) {
        $.each(json.data, function() {
          var version = this.version.replace("swippcore:","");
          if (versions[version] == undefined) {
            versions[version] = 1;
          } else {
            versions[version]++;
          }
          sum++;
        });
        $.each(Object.keys(versions).sort().reverse(), function(i) {
          if (i < colors.length) {
            var width = versions[this] / sum * 100;
            $("<div>" + this + "&nbsp;(<span>" + Math.round(width) + "%)</span></div>").
              css("width", width + "%").
              css("background-color", "#" + colors[i]).
              appendTo("div.versions");
          }
        });

        ctable = $('#connections-table').dataTable({
          autoWidth: true,
          searching: false,
          ordering: false,
          responsive: true,
          lengthChange: true,
          processing: true,
          ajax: {
            url: '/ext/connections',
            dataSrc: function ( json ) { return json.data; }
          },
          columns: [
            { data: 'address', width: '25%' },
            { data: 'protocol', width: '25%' },
            { data: 'version', width:'25%' },
            { data: 'geolocation', width: '25%'}
          ],
          rowCallback: function(row, data) {
            $.each(Object.keys(versions).sort().reverse(), function(i) {
              $("td:contains('" + this + "')", row).each(function() {
                $(this).html("<span>" + $(this).html() + "</span>");
                $(this).find("span").css("background-color", "#" + colors[i]);
              });
            });
          }
        });
      });
    });
  .col-md-12.versions
  .col-md-12(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      i #{settings.locale.net_warning}
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.net_connections}
      table#connections-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{settings.locale.net_address}
            th.text-center #{settings.locale.net_protocol}
            th.text-center #{settings.locale.net_subversion}
            th.text-center #{settings.locale.net_location}
        tbody.text-center
