extends layout

block content   
  script.
    $(document).ready(function(){
      var versions = {};
      var sum = 0, ctable;
      var colors = (new ColorScheme).from_hue(15).scheme("triade").distance(0.1).variation('soft').colors();

      $.ajax( "/ext/connections" ).done(function(json) {
        $.each(json.data, function() {
          if (this.version && this.version.length > 0) {
            var version = this.version.replace("UNIGRID Core:"," ");
            var version = version.replace("Hedgehog:", " (Hedgehog ");
            var version = version.replace("/",")");
            var version = version.replace("@_breakcrypto phantom", "&#x2620;");
            var version = version.replace("break", "&#x2620;");
            if (versions[version] == undefined) {
              versions[version] = 1;
            } else {
              versions[version]++;
            }
            sum++;
          }
        });
        $.each(Object.keys(versions).sort().reverse(), function(i) {
          if (i < colors.length) {
            console.log(this);
            var width = versions[this] / sum * 100;
            var percentage = this.includes("x2620") ? "" : ("&nbsp;<span>(" + Math.round(width) + "%)</span>");
            $("<div>" + this + percentage + "</div>").
              css("display", "flex").
              css("justify-content", "center").
              css("align-items", "center").
              css("width", width + "%").
              css("background-color", "#" + colors[i]).
              css("text-overflow", "clip").
              appendTo("div.versions");
          }
        });

        ctable = $('#connections-table').dataTable({
          autoWidth: true,
          searching: false,
          ordering: false,
          responsive: true,
          lengthChange: true,
          processing: true,
          ajax: {
            url: '/ext/connections',
            dataSrc: function ( json ) { return json.data; }
          },
          columns: [
            { data: 'address', width: '25%' },
            { data: 'protocol', width: '25%' },
            { data: 'version', width:'25%' },
            { data: 'geolocation', width: '25%'}
          ],
          rowCallback: function(row, data) {
            $("td:contains('UNIGRID'), td:contains('@_breakcrypto'), td:contains('break')", row).each(function() {
              $(this).html($(this).html().replace("UNIGRID Core:", ""));
              $(this).html($(this).html().replace("Hedgehog:", " (Hedgehog "));
              $(this).html($(this).html().replace("/", ")"));
              $(this).html($(this).html().replace("@_breakcrypto phantom", "&#x2620;"));
              $(this).html($(this).html().replace("break", "&#x2620;"));
            });
          }
        });
      });
    });
  .col-md-12.versions
  .col-md-12(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      i #{settings.locale.net_warning}
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.net_connections}
      table#connections-table.table.table-striped
        thead
          tr
            th.text-center #{settings.locale.net_address}
            th.text-center #{settings.locale.net_protocol}
            th.text-center #{settings.locale.net_subversion}
            th.text-center #{settings.locale.net_location}
        tbody.text-center
